workflows/n8n-edi-sugestao-produtos-corrigido.json
{
  "name": "EDI - Sugestão Automática de Produtos (REST API)",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rzzzfprgnoywmmjwepzm.supabase.co/rest/v1/rpc/get_pending_items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {}
      },
      "id": "buscar-itens-pendentes",
      "name": "1. Buscar Itens Pendentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-itens",
      "name": "2. Split Itens",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rzzzfprgnoywmmjwepzm.supabase.co/functions/v1/edi-sugerir-produtos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"descricao_cliente\": \"{{ $json.descricao_produto_cliente }}\",\n  \"cnpj_cliente\": \"{{ $json.cnpj_cliente }}\",\n  \"plataforma_id\": \"{{ $json.plataforma_id }}\",\n  \"item_id\": \"{{ $json.item_id }}\",\n  \"limite\": 5\n}",
        "options": {}
      },
      "id": "sugerir-produtos-ia",
      "name": "3. Sugerir Produtos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.sugestoes }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "verificar-sugestoes",
      "name": "4. Verificar Sugestões",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://rzzzfprgnoywmmjwepzm.supabase.co/rest/v1/edi_cotacoes_itens",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "eq.{{$json.item_id}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"produto_id\": \"{{$json.sugestoes[0].produto_id}}\",\n  \"status\": \"sugerido\"\n}",
        "options": {}
      },
      "id": "atualizar-item-sugestao",
      "name": "5. Atualizar Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-resultados",
      "name": "6. Aggregate Resultados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "return items;"
      },
      "id": "fim",
      "name": "7. Fim",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 480]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "1. Buscar Itens Pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Buscar Itens Pendentes": {
      "main": [
        [
          {
            "node": "2. Split Itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Split Itens": {
      "main": [
        [
          {
            "node": "3. Sugerir Produtos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "7. Fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Sugerir Produtos": {
      "main": [
        [
          {
            "node": "4. Verificar Sugestões",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Verificar Sugestões": {
      "main": [
        [
          {
            "node": "5. Atualizar Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "6. Aggregate Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Atualizar Item": {
      "main": [
        [
          {
            "node": "6. Aggregate Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Aggregate Resultados": {
      "main": [
        [
          {
            "node": "2. Split Itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-30T00:00:00.000Z",
  "versionId": "1"
}
